<section class="about">

  <h1>Quem somos</h1>

  <div>
  
    <section class="about-content">
      <h3>Clinica Conde Estética avançada.</h3>
      <p>Somos uma clínica especializada em estética facial, corporal e capilar, dedicada a realçar a beleza natural de cada paciente com segurança, técnica e responsabilidade.</p>
      <p>Acreditamos que a estética vai muito além da aparência: ela está diretamente ligada à confiança, ao bem-estar e à forma como cada pessoa se enxerga. Por isso, nosso compromisso é promover autoestima todos os dias, por meio de tratamentos personalizados e resultados naturais.</p>
      <p>Trabalhamos com procedimentos modernos como harmonização facial, bioestimuladores de colágeno, fios de PDO, tratamentos corporais e capilares, sempre utilizando produtos de alta qualidade e técnicas atualizadas.</p>
      <a href="https://wa.me/5561991728260" target="_blank" rel="noopener noreferrer" class="agendar-button">Fazer agendamento</a>
    </section>
  
    <img src="/assets/about_image.png" alt="imagem das doutoras, pagina sobre">
  
  </div>
</section>
