<header class="header">
  <nav class="nav-header">
  
    <a (click)="scrollToTop()" style="cursor: pointer;">
      <img class="logo" src="assets/conde.png" alt="Foto" height="30px">
    </a>
  
    <div class="nav-link">
      <a (click)="scrollToTop()">Home</a>
      <a (click)="scrollToSection('services')">Serviços</a>
      <a (click)="scrollToSection('about')">Sobre nós</a>
      <a (click)="scrollToSection('results')">Resultados</a>
      <a (click)="scrollToSection('contact')">Contato</a>
    </div>
  
    <a href="https://wa.me/5561991728260" target="_blank" rel="noopener noreferrer" class="agendar-button">Agendar</a>
  
  </nav>
</header>
