<section class="hero_section">
  <div class="hero">
    <img 
      src="/assets/logo_hero.png" 
      alt="Logo pagina home" 
      height="150px">
  </div>

  <section class="barra">
    <div class="barra-centro">
      <div>
        <img src="/assets/icon1.png" alt="icon 1" height="50px">
        <p>Produtos de qualidade</p>
      </div>

      <div>
        <img src="/assets/icon2.png" alt="icon 2" height="50px">
        <p>Profissionais qualificados</p>
      </div>

      <div>
        <img src="/assets/icon3.png" alt="icon 3" height="50px">
        <p>Alto padrão</p>
      </div>
    </div>
  </section>

  <div>
    <img class="element_2" src="/assets/Ellipse.svg" alt="elemento 2 do fundo">
    <img class="element_1" src="/assets/Frame.svg" alt="elemento 1 do fundo">
    <img class="image" src="/assets/imagem_hero.png" alt="imagem de uma modelo, pagina principal">
  </div>

  <section class="hero_section_2">
    <img 
      src="/assets/hero_image2.jpg" 
      alt="Hero image 2" 
      height="600px"
    >

    <div class="hero_2">
      <h1>SUA BELEZA  <br> NOSSA PAIXÃO.</h1>
      <p>transforme sua aparência e bem-estar em nossa clinica de medicina estética avançada. Serviços variados, qualidade e tecnologia certificada.</p>
      <a href="https://wa.me/5561991728260" target="_blank" rel="noopener noreferrer" class="agendar-button">Agendar</a>
      <img 
        src="/assets/hero_image3.jpg" 
        alt="Hero image 3" 
        width="670px"
      >
    </div>
  </section>
</section>